<ul>
  <% @letters.each do |letter| %>
    <li id="letters-inline"><%= letter %></li>
  <% end %>
</ul>

<p>What is the longest word that you can find?</p>
<form action="/score" method="post" class="input-group">  
  <input type="text" name="word" value="<%= params[:word] %>" placeholder="Your word" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
  <input type="submit" value="Submit!" class="input-group-text" id="inputGroup-sizing-default">
  <%= hidden_field_tag :letters, @letters %>
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>

<%= console %>